/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "mixins";

$background: #00364c;
$text-color: #e8ebe7;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: $background;
  color: $text-color;
  text-align: center;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: .4em;
}

h3 {
  @include large-text;
}

i {
  font-style: italic;
}


header {
  padding-top: 57px;
  margin-bottom: 70px;
  h2 {
    font-size: 13px;
    line-height: 17px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  h1 {
    @include apercu-bold;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    margin-bottom: 35px;
    letter-spacing: -1px;
    a:hover {
      text-decoration: none;
    }
  }
  nav {
    position: relative;
    overflow: hidden;
    ul {
      clear:left;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      left:50%;
      text-align:center;
      li {
        display:block;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        right:50%;
        a {
          @include apercu-light;
          text-transform: uppercase;
          letter-spacing: .5px;
          font-size: 11px;
          margin: 0 7px;
          &.active {
            text-decoration: underline;
            cursor: default;
          }
        }
      }
    }
  }
}
footer {
  margin-top: 60px;
  margin-bottom: 20px;
  @include apercu-light;
  font-size: 11px;
}


#home.body {
  p {
    @include large-text;
  }
}

#profile {
  width: 720px;
  margin: 0 auto;
  overflow: hidden;
  h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .bio, .accolades {
    text-align: left;
    width: 345px;
    float: left;
  }
  .bio {
    margin-right: 30px
  }
  p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 19px;
  }
  .accolades {    
    font-size: 11px;
    h4, h5 {
      text-transform: uppercase;
      letter-spacing: .5px;
      @include apercu-bold;     
    } 
    h4 {
      margin-bottom: 20px;
    }
    h5 {
      margin-bottom: 3px;
    }
    ul {
      @include apercu-light;   
      margin-bottom: 20px;
      li {
        margin-bottom: 3px;
      }
    }    
  }
}

#portfolio {
  width: 1050px;
  margin: 0 auto;
  @include apercu-light;
  font-size: 13px;
  line-height: 18px;
  h3 {        
    text-transform: uppercase;
    letter-spacing: .5px;
    outline: none;    
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 10px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .ui-accordion-content {
    padding-bottom: 60px;
  }
  .flexslider {
    margin-bottom: 50px;
  }
  .flex-viewport {
    margin-bottom: 80px;
  }
}

.wf-apercubold-n7-active h1 a, .wf-apercubold-n7-inactive h1 a {
  visibility: visible !important;
}
.wf-apercuregular-n4-active nav li a, .wf-apercuregular-n4-inactive nav li a {
  visibility: visible !important;
}
.wf-apercuregular-n4-active footer, .wf-apercuregular-n4-inactive footer {
  visibility: visible !important;
}

.flex-control-paging li a.flex-active {
  background: $text-color;
}
.flexslider {
  border: none;
  @include single-box-shadow(none);
}
.clearfix {
  clear: both;
}