<header>
  <h2>A creative consultancy working in the fields<br/>of visual and verbal communication.</h2>
  <h1><a href="/" style="visibility: hidden;">Christopher Doyle &amp; Co.</a></h1>
  <nav>
    <ul>
      <li><a class="{% if page.title == 'What we do' %}active{% endif %}" href="/what-we-do" style="visibility: hidden;">What we do</a></li>
      <li><a class="{% if page.title == 'What we don’t' %}active{% endif %}" href="/what-we-dont" style="visibility: hidden;">What we don&rsquo;t</a></li>
      <li><a class="{% if page.title == 'What we want' %}active{% endif %}" href="/what-we-want" style="visibility: hidden;">What we want</a></li>
      <li><a class="{% if page.title == 'Selected work' %}active{% endif %}" href="/selected-work" style="visibility: hidden;">Selected work</a></li>
      <li><a class="{% if page.title == 'Profile' %}active{% endif %}" href="/profile" style="visibility: hidden;">Profile</a></li>
      <li><a class="{% if page.title == 'Contact' %}active{% endif %}" href="/contact" style="visibility: hidden;">Contact</a></li>
    </ul>
  </nav>
</header>
