/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/screen.scss */
body {
  background: #00364c;
  color: #e8ebe7;
  text-align: center;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
}

/* line 24, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #e8ebe7;
}
/* line 27, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 32, ../sass/screen.scss */
p {
  margin-bottom: .4em;
}

/* line 36, ../sass/screen.scss */
h3 {
  font-size: 46px;
  line-height: 58px;
  letter-spacing: .5px;
}

/* line 40, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 45, ../sass/screen.scss */
header {
  padding-top: 57px;
  margin-bottom: 70px;
}
/* line 48, ../sass/screen.scss */
header h2 {
  font-size: 13px;
  line-height: 17px;
  margin: 0 auto;
  margin-bottom: 25px;
}
/* line 54, ../sass/screen.scss */
header h1 {
  font-family: "Apercu Bold", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: bold;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  margin-bottom: 35px;
  letter-spacing: -1px;
}
/* line 61, ../sass/screen.scss */
header h1 a:hover {
  text-decoration: none;
}
/* line 65, ../sass/screen.scss */
header nav {
  position: relative;
  overflow: hidden;
}
/* line 68, ../sass/screen.scss */
header nav ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
/* line 77, ../sass/screen.scss */
header nav ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}
/* line 85, ../sass/screen.scss */
header nav ul li a {
  font-family: "Apercu Regular", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 11px;
  margin: 0 7px;
}
/* line 91, ../sass/screen.scss */
header nav ul li a.active {
  text-decoration: underline;
  cursor: default;
}

/* line 100, ../sass/screen.scss */
footer {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: "Apercu Regular", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
}

/* line 109, ../sass/screen.scss */
#home.body p {
  font-size: 46px;
  line-height: 58px;
  letter-spacing: .5px;
}

/* line 114, ../sass/screen.scss */
#profile {
  width: 720px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 118, ../sass/screen.scss */
#profile h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}
/* line 123, ../sass/screen.scss */
#profile .bio, #profile .accolades {
  text-align: left;
  width: 345px;
  float: left;
}
/* line 128, ../sass/screen.scss */
#profile .bio {
  margin-right: 30px;
}
/* line 131, ../sass/screen.scss */
#profile p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 19px;
}
/* line 136, ../sass/screen.scss */
#profile .accolades {
  font-size: 11px;
}
/* line 138, ../sass/screen.scss */
#profile .accolades h4, #profile .accolades h5 {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: "Apercu Bold", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: bold;
  font-style: normal;
}
/* line 143, ../sass/screen.scss */
#profile .accolades h4 {
  margin-bottom: 20px;
}
/* line 146, ../sass/screen.scss */
#profile .accolades h5 {
  margin-bottom: 3px;
}
/* line 149, ../sass/screen.scss */
#profile .accolades ul {
  font-family: "Apercu Regular", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
}
/* line 152, ../sass/screen.scss */
#profile .accolades ul li {
  margin-bottom: 3px;
}

/* line 159, ../sass/screen.scss */
#portfolio {
  width: 1050px;
  margin: 0 auto;
  font-family: "Apercu Regular", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
}
/* line 165, ../sass/screen.scss */
#portfolio h3 {
  text-transform: uppercase;
  letter-spacing: .5px;
  outline: none;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 10px;
}
/* line 172, ../sass/screen.scss */
#portfolio h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 177, ../sass/screen.scss */
#portfolio .ui-accordion-content {
  padding-bottom: 60px;
}
/* line 180, ../sass/screen.scss */
#portfolio .flexslider {
  margin-bottom: 50px;
}
/* line 183, ../sass/screen.scss */
#portfolio .flex-viewport {
  margin-bottom: 80px;
}

/* line 188, ../sass/screen.scss */
.wf-apercubold-n7-active h1 a, .wf-apercubold-n7-inactive h1 a {
  visibility: visible !important;
}

/* line 191, ../sass/screen.scss */
.wf-apercuregular-n4-active nav li a, .wf-apercuregular-n4-inactive nav li a {
  visibility: visible !important;
}

/* line 194, ../sass/screen.scss */
.wf-apercuregular-n4-active footer, .wf-apercuregular-n4-inactive footer {
  visibility: visible !important;
}

/* line 198, ../sass/screen.scss */
.flex-control-paging li a.flex-active {
  background: #e8ebe7;
}

/* line 201, ../sass/screen.scss */
.flexslider {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 205, ../sass/screen.scss */
.clearfix {
  clear: both;
}
